.title{
   margin-bottom:5px;
   margin-top:20px;
   text-align:center;
   width:200px;
   color:black;
   font-style: "Times New Roman";
   border:solid black 2px;
   font-size:20px;
}
input[type="button"]{
   background-color:black;
   color:white;
   border:solid black 2px;
   width:100%;
}
input[type="text"]{
   background-color:white;
   border:solid black 2px;
   width:100%;
}